<h1>
  {{title}}
</h1>
<div>


</div>
<ul>
  <h2>100</h2>
  <li *ngFor="let game of games | groupBy : 90 | lessThan : 100 | orderBy : '-metacriticScore'">
    {{game.title}}  | {{game.metacriticScore}}
  </li>
  <h2>90</h2>
  <li *ngFor="let game of games | groupBy : 80 | lessThan : 90 | orderBy : '-metacriticScore'">
    {{game.title}}  | {{game.metacriticScore}}
  </li>
  <h2>80</h2>
  <li *ngFor="let game of games | groupBy : 70 | lessThan : 80 | orderBy : '-metacriticScore'">
    {{game.title}}  | {{game.metacriticScore}}
  </li>
  <h2>70</h2>
  <li *ngFor="let game of games | groupBy : 60 | lessThan : 70 | orderBy : '-metacriticScore'">
    {{game.title}}  | {{game.metacriticScore}}
  </li>
</ul>
